# This file may be used to create an environment using:
# conda create --name <envName> python=3.8 --file <this file> -c conda-forge
# python version: 3.8

imutils==0.5.3
kivy==1.11.1
kivy-garden==0.1.4
matplotlib==3.2.2
numpy==1.18.5
opencv==4.0.1
openpiv==0.23.4
pywin32==302